@import '../../../../node_modules/@angular/material/_theming.scss';

@include mat-core();
$primary: mat-palette($mat-teal, 500);
$accent:  mat-palette($mat-orange, 500);
$warn:    mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.dashboardbk {
  background-color: #00897b;
}
.searchHeaderBgc {
  background-color: #00897b;
}
.dlg-title {
  background-color: #00897b;
}
.mat-font-color{
  color: map-get($mat-dark-theme-foreground,text);
}
mat-tree-node:hover{
  background-color: rgba(255,255,255,0.05);
}
.tree-node:hover{
  background-color: rgba(255,255,255,0.05);
}
.funAddDiaTitle {
  background-color: #ffc107;
}
.view .matRow:nth-child(even) {
  background-color: rgba(48, 48, 48, 0.2)
}

.view .mat-cell {
  border-right-color: rgba(255, 255, 255, 0.15) !important;
  border-bottom-color: rgba(255, 255, 255, 0.15) !important;
}

.view .mat-header-row .mat-header-cell {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.view .mat-row:hover {
  background-color: rgba(48, 48, 48, 0.6);
}

// codemirror的样式暂且保留，后面可能还有用
 .mat-dialog-container .CodeMirror {
   border-bottom: 1px solid #ddd;
 }
 .mat-dialog-container .CodeMirror-gutters,
 .mat-dialog-container .CodeMirror{
   background-color: #424242;
   color: #ffffff;
 }

.searchHeaderBgc .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.searchHeaderBgc .mat-form-field-placeholder,
.searchHeaderBgc .mat-focused .mat-form-field-placeholder,
.searchHeaderBgc .mat-select-arrow,
.searchHeaderBgc .mat-select-value-text {
  color: #fff;
}

.searchHeaderBgc .mat-form-field-ripple,
.searchHeaderBgc .mat-form-field-underline {
  background-color: #fff;
}

.activeRoleBgc {
  background-color: #303030 !important;
}
/*form disabled*/
.mat-form-field-disabled .mat-form-field-underline {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.7) 33%, transparent 0);
  background-size: 4px 1px;
  background-repeat: repeat-x;
}
.font-color{
  color: #fff !important;
}
.primary {
  background-color: #00897b;
}
.firstRow {
  background-color: #00897b;
}
.accent {
  background-color: #7cb342;
}

.warn {
  background-color: #ffc107;
}

.warn {
  background-color: #ffc107;
}

.primary-color {
  color: #00897b;
}

.accent-color {
  color: #7cb342;
}
.warn-color {
  color: #ffc107;
}



/*手机端fn和dc的form主题颜色*/
@media (max-width: 599px) {
  .m-form-bgc {
    background-color: #424242;
  }
}
.row-cutline{
  border-bottom: 1px solid rgba(255,255,255,0.15) !important;
}
.column-cutline{
  border-right: 1px solid rgba(255,255,255,0.15) !important;
}
.multiple-filter{
  height: 48px;
  width: 100%;
  display: block;
  color: #fff;
  position: sticky !important;
  top: 0;
  z-index: 9;
  background-color: #000;
}
mat-form-field.multiple-filter mat-checkbox.mat-checkbox{
  padding: 0 0 0 16px;
  margin-right: 8px;
  line-height: 42px;
}
.multiple-filter .mat-icon{
  padding: 0 0 0 16px;
  margin-right: 8px;
}
/*mat-dialog-container.mat-dialog-container{*/
/*padding: 0;*/
/*overflow: hidden;*/
/*}*/
.cutline-border{
  border:1px solid rgba(255,255,255,0.15);
}

mat-dialog-container.mat-dialog-container{
  position: relative;
}
.label-color{
  color:rgba(255,255,255,0.54);
}
.multiple-filter.nocheckbox{
  height: 47px;
  padding: 0 0 0 16px;
  width: 100%;
  display: block;
  overflow: hidden;
}
.multiple-filter.nocheckbox::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.cutline-right{
  border-right: 1px solid rgba(255, 255, 255, 0.15) !important; }
.cutline-top{
  border-top: 1px solid rgba(255, 255, 255, 0.15) !important; }
.cutline-left{
  border-left: 1px solid rgba(255, 255, 255, 0.15) !important; }
.cutline-bottom{
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important; }
.isActived .top-arrow {
  display: block;
  position: absolute;
  right: 50%;
  top: 35px;
  margin-right: -8px;
  z-index: 5;
  /*兼容ie8-*/
  border-top: 8px transparent dashed;
  border-left: 6px transparent dashed;
  border-right: 6px transparent dashed;
  border-bottom: 8px #212121 solid;
}

// 使用@media 手机版本无图片
.query .header.bg {background-image: url(/assets/img/query/header-green.png); background-size: cover;}
.query .content.bg {background-image: url(/assets/img/query/content-green.jpg); background-size: cover;}

/* 报表主题 #393c3b */
.query .report {border-collapse: collapse;}
.query .report .titl {color:#000;background-color:#fff;border-color:#fff;}
.query .report .head {color:#fff;background-color:#009688;border-color:#b9bdce;}
.query .report .dtlb {color:#000;background-color:#fffef8;border-color:#b9bdce;}
.query .report .dtld {color:#000;background-color:#eef7f5;border-color:#b9bdce;}
/**/
.cm-s-default.CodeMirror {
  background-color: #424242;
  color: rgba(233, 237, 237, 1);
  border-bottom: 1px solid #ddd;
}
.cm-s-default .CodeMirror-gutters {
  background: #424242;
  color: #ffffff;
  border-right: 1px solid #dddddd
}
.cm-s-default .CodeMirror-guttermarker, .cm-s-default .CodeMirror-guttermarker-subtle, .cm-s-default .CodeMirror-linenumber { color: rgb(83,127,126); }
.cm-s-default .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.cm-s-default div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
.cm-s-default.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-default .CodeMirror-line::selection, .cm-s-default .CodeMirror-line > span::selection, .cm-s-default .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-default .CodeMirror-line::-moz-selection, .cm-s-default .CodeMirror-line > span::-moz-selection, .cm-s-default .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-default .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
.cm-s-default .cm-keyword { color: rgba(199, 146, 234, 1); }
.cm-s-default .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-default .cm-variable-2 { color: #80CBC4; }
.cm-s-default .cm-variable-3, .cm-s-default .cm-type { color: #82B1FF; }
.cm-s-default .cm-builtin { color: #DECB6B; }
.cm-s-default .cm-atom { color: #F77669; }
.cm-s-default .cm-number { color: #F77669; }
.cm-s-default .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-default .cm-string { color: #C3E88D; }
.cm-s-default .cm-string-2 { color: #80CBC4; }
.cm-s-default .cm-comment { color: #546E7A; }
.cm-s-default .cm-variable { color: #82B1FF; }
.cm-s-default .cm-tag { color: #80CBC4; }
.cm-s-default .cm-meta { color: #80CBC4; }
.cm-s-default .cm-attribute { color: #FFCB6B; }
.cm-s-default .cm-property { color: #80CBAE; }
.cm-s-default .cm-qualifier { color: #DECB6B; }
.cm-s-default .cm-variable-3, .cm-s-default .cm-type { color: #DECB6B; }
.cm-s-default .cm-tag { color: rgba(255, 83, 112, 1); }
.cm-s-default .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #EC5F67;
}
.cm-s-default .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
*::-webkit-scrollbar-track {
  background-color: #D9D9D9;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

*::-webkit-scrollbar-thumb {
  background-color: #292929;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.disabled{
  color:rgba(250,250,250,0.3) !important;
}

.loading-shade-bgc {
  background-color: rgba(255, 255, 255, 0.17);
}
.thead-font-color {
  color: rgba(255,255,255,0.7);
}
.thead-tr-border{
  border-bottom: 1px solid #c7c7c7;
}
.thead-th-border{
  border: 1px solid #c7c7c7;
}
/*解决nat-row在滚动状态下宽度不是100%导致的背景色透明问题*/
.mat-header-cell{
  background-color: rgb(66,66,66);
}
.tbody-tr{
  height: 47px;
  padding: 0;
  border: none;
  align-items: center;
  box-sizing: border-box;
}
.tbody-tr:hover{
  background-color: rgba(48, 48, 48, 0.6) !important;
}
.tbody-tr:nth-child(even){
  background-color: rgba(48, 48, 48, 0.6);
}
.tbody-td{
  padding: 0 12px;
  white-space: nowrap;
  text-align: center;
  height: 46px;
  line-height: 46px;
  text-overflow: ellipsis;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-right-color: rgba(255, 255, 255, 0.15) !important;
  border-bottom-color: rgba(255, 255, 255, 0.15) !important;
  font-size: 14px;
  overflow: hidden;
  height: 100%;
  width: inherit;
}
.tbody-td:last-child{
  border-right: none;
}

.icon-pin-off , .icon-pin{
    color:whitesmoke;
}

/* proc 字体颜色和边框背景 */
.proc_border_color {
  color: #009688;
}

.proc_border_bgcolor {
  background-color: #009688;
}

/** 菜单栏搜索框背景色 */
.sidenav-searchForm {
  background-color: #424242; 
}

// 使用@media 手机版本无图片
.main_content .showFormBg {background-image: url(/assets/img/query/header-green.png); background-size: cover;}
.main_content .showContentBg {background-image: url(/assets/img/query/content-green.jpg); background-size: cover;}

/* 报表主题 #393c3b */
.main_content .report {border-collapse: collapse;}
.main_content .report .titl {color:#000;background-color:#fff;border-color:#fff;}
.main_content .report .head {color:#fff;background-color:#009688;border-color:#b9bdce;}
.main_content .report .dtlb {color:#000;background-color:#fffef8;border-color:#b9bdce;}
.main_content .report .dtld {color:#000;background-color:#eef7f5;border-color:#b9bdce;}
/*select filter 样式*/
.filter-input {
  background-color: #424242;
  color: #fff;
}
/* table背景色 */
.view{
  background-color: #424242;
}
/* treeoverlay背景色 */
.tree_content{
  background-color: #424242;
}
.controllerTipIcon{
  color:rgba(255, 255, 255, 0.7);
}
.sidenav-background {
  background-color: #009789;
}
.sidenav-background:hover {
  background-color: #009789;
}
/* 主题after伪类背景色 */
.gtjaqh-themes-after::after {
  background: #424242;
  color: white !important;
}